*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none; outline: none;
}
/* The Sole Directory Of The WebPage. */
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    width: 100%;
}

/* The Header Properties */
nav{
    background-image: url("background.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.wrapper {
    width: 100%;
}

.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
}

/* The Header */
.nav-header img{
    width: 150px;
}

.nav-header button{
    padding: 10px 20px;
    background-color: red;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}

.nav-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: white;
    margin-top: 4rem;
}

.nav-content h2{
    font-size: 55px;
}


.nav-content h5{
    font-size: 20px;
    font-weight: normal;
    padding: 1rem 0;
}

.send{
position: relative;
left: -5px;
width: 180px;
height: 60px;
background-color: red;
color: white;
font-size: 20px;
cursor: pointer;
}

.email {
background-color: white;
width: 420px;
height: 60px;
padding: 0 25px;
font-size: 20px;
}
