*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none; outline: none;
}
/* The Sole Directory Of The WebPage. */
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    width: 100%;
}


