*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none; outline: none;
}
/* The Sole Directory Of The WebPage. */
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    width: 100%;
}

/* The Header Properties */
nav{
    background-image: url("background.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.wrapper {
    width: 100%;
}

.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
}

/* The Header */
.nav-header img{
    width: 150px;
}

.nav-header button{
    padding: 10px 20px;
    background-color: red;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}

.nav-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: white;
    margin-top: 4rem;
}

.nav-content h2{
    font-size: 55px;
}

.nav-content p{
    font-size: 24px;
}

.nav-content h5{
    font-size: 20px;
    font-weight: normal;
    padding: 1rem 0;
}

.send{
position: relative;
left: -5px;
width: 180px;
height: 60px;
background-color: red;
color: white;
font-size: 20px;
cursor: pointer;
}

.email {
background-color: white;
width: 420px;
height: 60px;
padding: 0 25px;
font-size: 20px;
}

send:hover{
    opacity: 0.5;
}

.states{
    background-color: black;
    color: white;
}

.states .lagos-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.states .lagos-box .shomolu h3{
    font-size: 40px;
}

.states .lagos-box .shomolu p{
    font-size: 20px;
}

.states .lagos-box .image{
    width: 450px;
    margin-bottom: 30px;
}

.states .lagos-box .image img{
    padding-right: 10px;
    width: 100%;
}


hr{
    background: #303030;
    height: 8px;
}

.africa{
    text-align: center;
}

.nigeria-unity{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.nigeria-unity h1{
    color: white;
    padding: 3rem 0;
}

.nigeria-unity .nigeria{
    margin-bottom: 10px;
    cursor: pointer;
}
